
.form-profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    gap: 30px;
}

.foto {
  margin-left: 50px;
  width: 90%;
}


.form-cadastro-usuario {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  column-gap: 50px;
  row-gap: 15px;
}